outputs {
  
  .outputs-container {

    float:left;
    display: flex;
    min-height: 150px;

    .output-button-container {

      margin-right: 15px;
      margin-right: 15px;
      min-width: 120px;

      .output-button {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: 1px solid;
        border-color: transparent;
        cursor: pointer;
        
        &:hover {
          color: darken(@brand-primary, 10%);
        }
        i.material-icons {
          font-size: 64px;

        }

      }
    }

  }

  .add-button-container {

    float: right;
    position: relative;
    right: 32px;
    top: 90px;

  }
}