input-sources {

  .input-sources-container {

    float:left;
    display: flex;
    min-height: 100px;

    .input-source-button-container {
      margin-right: 15px;
      margin-right: 15px;
      min-width: 120px;

      .input-source-button {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          border: 1px solid;
          border-color: transparent;
          cursor: pointer;
          
          &:hover {
            color: darken(@brand-primary, 10%);
          }
          .input-source-icon {
            font-size: 64px;
          }
      }

    }

  }  

  .add-button-container {
    float: right;
    position: relative;
    right: 32px;
    top: 90px;
  }
}