expandable-section {

  .title {
    cursor: pointer;
    top: 11px;
  }

  .es-caret-container { 
    top: 28px;
    .es-caret {
      font-size: 40px;
      cursor: pointer;
    }
  }

  hr {
    margin-left: 30px;
    margin-top: 0px;
    border-top-width: 2px;
  }

  .section-content {

    // @keyframes myChange {
    //   from {
    //       height: 100px;
    //   } to {
    //       height: 0;
    //   }
    // }

    // &.ng-hide-add {
    //   height: 100%;
    //   transform-origin: top;
    //   transition: all 0.5s ease-in-out;
    // }

    // &.ng-hide-add.ng-hide-add-active {
    //   height: 0%;
    // }

    // &.ng-hide-remove {
    //   transform: rotateY(90deg);
    //   transform-origin: left;
    //   transition: all 0.5s ease;
    // }

    // &.ng-hide-remove.ng-hide-remove-active {
    //   transform: rotateY(0);
    // }
  }
}

